*cmake-build-debug
*.cx_metadata.json
*vcs.xml
*.idea
*check.out
*.DS_Store
*.zip
*__pycache__
assignment4/mvs/dtu_dataset
assignment4/mvs/checkpoints
assignment2/seg-net/out
assignment4/mvs/checkpoints*